
    <h2><span>Profile</span></h2>


<div class="wrapper">
    <form autocomplete="off" #updateForm="ngForm" (ngSubmit)="login(updateForm.value)">
      <h6>Username</h6>
        <input (ngModel)="userName" class="form-control" name="userName" type="text" > 
      <h6>First Name</h6>
        <input (ngModel)="firstName" class="form-control" name="firstName" type="text" >    
      <h6>Last Name</h6>
        <input (ngModel)="lastName" class="form-control" name="lastName" type="text" >

	  <a type="submit" (click)="update(updateForm.value)">Update</a>
      <button type="button" (click)="deleteAcount()" type="button">Delete</button>   
      <button routerLink="/login" class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>   
    
    </form>
</div>


    <span>
        <a [routerLink]="['/user',userId]"> <i class="glyphicon glyphicon-user white"></i> </a>
    </span>
